@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(88, 88, 88, 0.993);
    margin: 0%;
    font-style: normal;
    font-family: 'REM', sans-serif;
}

.title{
    padding-top: 10px;
    background-color:rgb(179, 179, 179);
    font-size: calc( (100vw - 480px)/(1920 - 480) * (50 - 12) + 16px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.addTask{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    background-color: rgb(179, 179, 179);
    cursor: pointer;
    outline: none;
    border: 1px outset rgb(114, 114, 114);
}

 
  .addTask:hover {
    transition: 0.2s ease-in-out;
    background: rgb(139, 139, 139);
  }
  
section{
    margin-top: 60px;
    position: relative;
    width: 30%;
    min-height: 250px;
    font-size: calc( (100vw - 480px)/(1920 - 480) * (50 - 12) + 16px);
    text-align: center;
    background: rgb(179, 179, 179);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: rgb(10, 9, 9);
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

section:hover{
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.desk{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

